Locations:
<ul>
  <% cities = [] %>
  <% @company.locations.each do |location| %>
  <% cities << location.city %>
  <% end %>
  <!-- <% cities.uniq %> -->
  <% cities_count = {} %>
  <% cities.uniq.each do |city| %>
  <% cities_count["#{city}"] = @company.locations.where(city: city).count %>
  <% end %>
  <% cities_count %>
  <% cities_count.each do |k, v| %>
    <li>
      <%= "#{k} - #{v}" %>
    </li>
  <% end %>
</ul>

All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul><%= job.title %> at <%= job.company.name %></ul>
<% end %>
